.bio{
	text-align: center;
	background-color: #FAEBD7;
	color: gray;

}

h1{
	background-color: #F5F5DC;
}

body{
	background-color: #F5F5DC;
}

img {
	width: 200px;
	height: 310px;
	display: block;
	border-radius: 50px;
}